@{
    ViewBag.Title = "QuanLyKH";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
@using QLtour.Models
@model List<KHACHHANG>
<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<h2>Quản lý khách hàng</h2>

<a href="/QuanLy/ThemKH">Thêm khách hàng</a>

<div class="container">
    <div class="row">
        <table class="table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Mã khách hàng</th>
                    <th>Họ tên</th>
                    <th>Ngày sinh</th>
                    <th>Phái</th>
                    <th>Số điện thoại</th>
                    <th>Email</th>
                    <th>CCCD</th>
                    <th>Mật khẩu</th>
                </tr>
            </thead>

            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.MaKH</td>
                    <td>@s.HoTen</td>
                    <td>@s.NgSinh</td>
                    <td>@s.Phai</td>
                    <td>@s.SDT</td>
                    <td>@s.Email</td>
                    <td>@s.CCCD</td>
                    <td>@s.MATKHAU</td>
                    <td>
                        <a href="/QuanLy/SuaKH/@s.MaKH">Sửa</a>
                        <a href="/QuanLy/XoaKH/@s.MaKH">Xóa</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
